@font-face {
    font-family: "BoldPixels";
    src: url("/boldpixels/BoldPixels.ttf");
}

/* Description Text Color */
.description-text {
    -fx-fill: #000000;
    -fx-font-size: 14px;
    -fx-font-family: "BoldPixels";
}
/* Card Name Text Color */
.card-name-text {
    -fx-fill: #000000;
    -fx-font-size: 28px;
    -fx-font-family: "BoldPixels";
}
